APP_ENVIRONMENT=development
REDIS_PASSWORD=
SECRET_KEY=REPLACE_WITH_32_PLUS_CHAR_RANDOM_SECRET
CREDENTIAL_STORE_KEY=REPLACE_WITH_32_PLUS_CHAR_RANDOM_STORE_KEY

DEBUG=true
NEXUS_CONTEXT=desktop_app
APP_PORT=11430
DESKTOP_STARTUP_ROUTE=/open-nexus

# APP_USERS=admin:replace-me
